@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/448/235/original/light-brown-cartoon-wood-texture-pattern-wallpaper-background-free-vector.jpg");
}

.pokedex {
  display: block;
}


.display {
  position: relative;
}

.pokemonImg {
  position: absolute;
  top: 28%;
  left: 26%;
  width: 150px;
}


h1 {
  position: absolute;
  color: white;
  top: 66%;
  left: -3%;
  text-align: center;
  width: 100%;
}



input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1em;
  width: 85px;
}

button {
  padding: 10px;
}
