@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,100;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('https://wallpaperaccess.com/full/17520.jpg');
    background-size: cover;
    font-family: Montserrat;
}

header {
    padding-top: 50px;
    font-size: 2em;
    color: white;
    text-align: center;
}

main {
    margin: 50px auto;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: aliceblue;
    width: 40vw;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.392) 0px 10px 10px;
}

label, input {
    margin: 10px;
    padding: 5px;
    width: 95%;
}

#genero, #q1, #q2, #q3 {
    width: auto;
}

input[type=submit] {
    box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:block;
    margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    width: 150px;
}

input[type=submit]:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

input[type=submit]:active {
    position:relative;
	top:1px;
}